.widget{
	padding: 20px 0px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

.widget-ext-link{
	background: #EEE;
	border-left: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	color: #AAA;
	display: inline-block;
	position: absolute;
	top:0px;
	right: 0px;
	padding: 10px;
	font-size: 11px;
}

.widget-logo > h1{
	color: #77017F;
}

.widget-form {
	margin: 0px auto;
	width: 500px;
}

.widget-short-url {
	margin: 20px 0px 0px 0px;
	border-radius: 25px;
	padding: 5px 15px;
	display: inline-block;
	background: #77017F;
	color: #FFFFFF;
	font-size: 10pt;
}

.bg-red{
	background: #BC2D49;
}

.trending-url {
    width: 600px;
    margin: 0px auto;
}

.trending-url > h2 {
	font-size: 18px;
	text-align: center;
	padding-bottom: 10px;
	color: #77017F;
}

.meta {
	border: 1px solid #DDD;
	margin-bottom: 10px;
	padding: 10px;
}

.meta-image-container {
	width:578px;
	background: #333;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.meta-image {
	width: 500px;
}

.meta-title {
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

.meta-url {
    font-size: 11px;
    color: #77017F;
}


.meta-description {
    font-size: 12px;
    text-align: justify;
}